.tictactoe-main {
	background-color: black;
}
.tictactoe-cell {
	display: flex;
	border: 1px solid;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: #cbcbcb;
}
.tictactoe-cell:hover {
	background-color: #111111;
	color: #808080;
}
.tictactoe-cell-clicked {
	color: #cbcbcb;
}
.tictactoe-cell-clicked:hover {
	color: #cbcbcb;
}
.tictactoe-dialog {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.3);
	display: none;
}
.tictactoe-dialog-content {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-left: auto;
	margin-right: auto;
	padding: 7px;
	width: 63%;
	text-align: center;
	background-color: rgb(64, 64, 64);
  color: white;
}
.tictactoe-dialog-content div {
	font-size: 0.6em;
	font-weight: bold;
}
.tictactoe-dialog-content button {
	text-align: center;
	padding: 2px;
	margin: 2px auto;
	border-radius: 4px;
	font-size: 0.5em;
	cursor: pointer;
	background-color: #222222;
	color: #efefef;
  border-color: #101010;
}